<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>slms</display-name>
  <servlet>
    <description></description>
    <display-name>StudentLoginServlet</display-name>
    <servlet-name>StudentLoginServlet</servlet-name>
    <servlet-class>com.slms.servlets.StudentLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentLoginServlet</servlet-name>
    <url-pattern>/studentLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.slms.servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LeaveApplicationServlet</display-name>
    <servlet-name>LeaveApplicationServlet</servlet-name>
    <servlet-class>com.slms.servlets.LeaveApplicationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeaveApplicationServlet</servlet-name>
    <url-pattern>/leaveApplicationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherLoginServlet</display-name>
    <servlet-name>TeacherLoginServlet</servlet-name>
    <servlet-class>com.slms.servlets.TeacherLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherLoginServlet</servlet-name>
    <url-pattern>/teacherLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudent</display-name>
    <servlet-name>AddStudent</servlet-name>
    <servlet-class>com.slms.servlets.AddStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudent</servlet-name>
    <url-pattern>/addStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Judge</display-name>
    <servlet-name>Judge</servlet-name>
    <servlet-class>com.slms.servlets.Judge</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Judge</servlet-name>
    <url-pattern>/judge</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PassJudge</display-name>
    <servlet-name>PassJudge</servlet-name>
    <servlet-class>com.slms.servlets.PassJudge</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PassJudge</servlet-name>
    <url-pattern>/passJudge</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountCheckServlet</display-name>
    <servlet-name>AccountCheckServlet</servlet-name>
    <servlet-class>com.slms.servlets.AccountCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountCheckServlet</servlet-name>
    <url-pattern>/accountCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStu</display-name>
    <servlet-name>DeleteStu</servlet-name>
    <servlet-class>com.slms.servlets.DeleteStu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStu</servlet-name>
    <url-pattern>/deleteStu</url-pattern>
  </servlet-mapping>
</web-app>