body{
    margin:0;
    padding:0;
    font-size:14px;
    line-height:20px;
    background-color: #334053;
}
.main{
    width:525px;
    margin: 200px auto;
}
.hr_1 {
    font-size: 24px;
    font-weight: bold;
    color: #ecf1f4;
    height: 35px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #ecf1f4;
    vertical-align:bottom;
    padding-left:12px;
    padding-bottom: 4px;
}
.left{
    color: #ecf1f4;
    text-align:right;
    width:80px;
    height:25px;
    padding-right:2px;
    padding-top: 10px;
}
    
.center{
    width:135px;
}
.in{
    width:150px;
    height:20px;
    border:solid 1px #79abea;
    border-radius: 15px;

}
.zhuce{
    padding-top: 10px;
    padding-left: 10px;
}
.on{
    height:25px;
    width: 225px;
    border:solid 1px #51d292;
    border-radius: 6px;
    background-color: #51d292;
    color: #fff;
    font-size: 15px;
    text-align: center;
}
.red{
    color:#cc0000;
    font-weight:bold;
}

div{
    padding-left: 2px;
    color:#e85d7a;
    font-size: 12px;
} 
select{
    border: solid 1px #000;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    border-radius: 15px;
}
a{
    text-decoration: none;
}